<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "Functions and Purposes" %}

{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Function and Purpose of a Program</strong></h1>
        <p class="text-secondary">The function of a program is what that program is designed to do, and is specific to the program. This is not to be confused with purpose, which is the overarching, ultimate goal of a program. For example, the function of two APCSP projects may be different, but they may share a purpose of meeting the requirements set by the APCSP course. Our group's project is a python program. The function of our project is to create a playable maze game where the user can control movement with arrow keys. There will be three levels with an increasing play area size, and movable and non-movable(wall) spaces will randomly be chosen.</p>
    </div>
{% endblock %}

{% block background %}
{% endblock %}
